.header{
    width: 100%;
    height: 176px;
    border-bottom: 1px solid #ccc;
}
.box{
    width: 100%;
    height: 36px;
    background-color: #333;

}
.top_right{
    width: 1090px;
    height: 36px;
    margin: 0 auto;
}
.top_right ul{
    float: right;
}
.top_right ul li{
    float: left;
    font-size: 12px;
    line-height: 36px;
    position: relative;
}
.purchase_hover {
  display: none;
  position: absolute;
  top: 36px;
  left: -12px;
}
.purchase_hover a p{
  width: 93px;
  height: 36px;
  line-height: 36px;
  background: #fff;
  text-align: center;
  border: 1px solid #f5f5f5;
}
.top_right ul .purchase:hover .purchase_hover{
  display: block;
}
.top_right ul li a{
    color: #ccc;
}
.top_right ul li span{
    margin-left: 8px;
    margin-right: 10px;
}
.top_right ul li img{
    margin-top: 16px;
    margin-left: 6px;
}
.sbox{
    width: 100%;
    height: 140px;
    background-color: white;
}
.search{
    width: 1090px;
    height: 140px;
    /* margin-left: 138px; */
    margin: 0 auto;
}
.logo{
    margin-top: 30px;
    float: left;
}
.ss{
    width: 532px;
    height: 36px;
    margin-top: 26px;
    float: left;
    margin-left: 152px;
}
.ss_left{
    width: 442px;
    height: 36px;
    position: relative;
    float: left;
}
.ss_left input{
    width: 442px;
    height: 38px;
    border: 1px solid #CC9756 ;
    outline: none;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    padding-left: 40px;
    box-sizing: border-box;
}
.ss_left img{
    position: absolute;
    top: 14px;
    left:18px;
}
.ss_right{
    height: 38px;
    width: 90px;
    background-color: #CC9756;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    float: right;
}
.ss_right a{
    color: #fff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    display: block;
}
.shopcar{
    width: 134px;
    height: 38px;
    border: 1px solid #CC9756;
    border-radius: 19px;
    float: left;
    margin-top: 26px;
    margin-left: 46px;
}
.shopcar img{
    margin-top: 10px;
    margin-left: 18px;
}
.shopcar  span{
    font-size: 16px;
    color: #CC9756;
    margin-left: 42px;
    margin-top: -20px;
    display: block;
}
.zore{
    width: 22px;
    height: 22px;
    background-color: rgb(247, 58, 58);
    border-radius: 50%;
    float: right;
    margin-top: -20px;
    margin-right: 7px;
    color: #fff;
    line-height: 22px;
    text-align: center;
}
.six{
    color: #999;
    margin-left: 20px;
    margin-top: 10px;


}
.slist{
    width: 100%;
    float: left;
    margin-top: 36px;
}
.slist ol{
    width: 1090px;
    height: 20px;

}
.slist ol li{
    font-size: 14px;
    float: left;
    font-size: 14px;
    font-weight: 600;
    padding: 0 25px;
}
.empty{
    padding-bottom: 40px;
    margin-top: 40px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    height: 696px;
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
}
.empty_shopcar{
    text-align: center;
    margin-top: 200px;
}
.empty_shopcar p{
    font-size: 16px;
    color: #999;
}
.empty_shopcar button{
    height: 40px;
    width: 100px;
    font-size: 16px;
    color: #b4a078;
    border: 1px solid #b4a078;
    background-color: #f5f3ef;
    cursor: pointer;
    margin-top: 20px;
}
.message{
    border-top: 1px solid #ccc;
    height: 299px;
    background-color: #fff;
    margin-top: 80px;
    
}
.message_top{
    padding-top: 60px;
    padding-bottom: 34px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
}
.top_c{
    width: 1090px;
    margin: 0 auto;
}
.top_left{
    width: 33.33333%;
    height: 204px;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #e9e9e9;

}
.left_1{
    width: 80px;
    height: 100px;
    font-size: 14px;
    background-color: #fff;
    padding-top: 25px;
    text-align: center;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    float: left;
}
.left_2{
    width: 80px;
    height: 100px;
    font-size: 14px;
    background-color: #fff;
    padding-top: 25px;
    text-align: center;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    float: left;
    margin-left: 29px;
}
.top_b{
    margin: 0 auto;
}
.top_center{
    width: 33.33333%;
    height: 204px;
    float: left;
    border-left: 1px solid #e9e9e9;
}
.tc{
    padding: 0 37px;
    text-align: center;
    line-height: 1;
}
.tc h4{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
}
.tc p{
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 22px;
}
.center_left{
    padding: 0 37px;
    line-height: 1;
    text-align: left;
}
.center_left p{
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 32px;
    float: left;
}
.cl{
    float: left
}
.cl a{
    margin-left: 10px;
}
.topright{
    width: 32.33333%;
    height: 204px;
    float: left;
    border-left: 1px solid #e9e9e9;
    text-align: center;
}
.topright h4{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
}
.tr{
    display: inline-block;
    width: 104px;
    height: 104px;
}
.load{
    color: #b4a078;
    font-size: 12px;
    margin-top: 6px;
}
.footer{
    height: 300px;
    padding-top: 37px;
    background-color: #414141;
}
.ft{
    width: 1090px;
    margin: 0 auto;
    border-bottom: 1px solid #4f4f4f;
    margin-bottom: 27px;
}
.ft ul{
    margin-bottom: 30px!important;
    padding-left: 17px;
    height: 51px;
}
.ft ul li{
    float: left;
}
.ft ul li div{
    color: #fff;
    font-size: 18px;
    line-height: 51px;
    display: inline-block;
    vertical-align: middle;
}
.ft ul li p{
    float: right;
    margin: 0 auto;
}
.fd img{
    display: block;
    float: left;
    margin-right: 17px;
}
.footct{
    text-align: center;
    color: #999;
    position: relative;
}
.foottip a{
    color: #999;
}
.foottip b{
    margin: auto 13px;
}
.ftp1{
    white-space: nowrap;
    margin: 11px 0;
}
.ftp1 a{
    color: #999;
    margin-right: 15px;
}
.ftp1 span{
    color: #999;
    margin-right: 15px;
}
.ftp2{
    padding-bottom: 11px;
}
.ftp2 span{
    margin-right: 10px;
}
.ftp3{
    padding-bottom: 11px;
}
.ftp3 span{
    margin-right: 10px;
}
.ftp4{
    padding-bottom: 11px;
}
.ftp4 span{
    margin-right: 10px;
}